@use "../../variables" as *;

// desktop
@media (min-width: $mobile-width) {
.top-nav {
  padding: 1em 0;
  position: sticky;
  top: 0; 
  z-index: 1000;
}

  .top-nav {
    .usa-nav__primary > .usa-nav__primary-item > a,
    .usa-nav__primary button[aria-expanded],
    .usa-nav__primary button[aria-expanded],
    .usa-nav__primary > .usa-nav__primary-item {
      padding: 0px;
    }
    

    .usa-nav__primary-item {
      svg {
        margin: 0 !important;
      }
    }

    .usa-header--basic .usa-nav-container {
      padding: 0px 35px 0px !important;
 
    }

    .usa-nav__primary > .usa-nav__primary-item > a {
      display: flex;
      align-items: center;

      justify-content: center;
    }
    .usa-nav__primary .usa-accordion__button span {
      padding-right: 0;
    }

    nav {
      padding: 10px;

      li:not(:first-child) {
        margin-left: 2em;
      }
    }

    .usa-header--basic .usa-nav-container {
      max-width: none !important;
      align-items: center;
      display: flex;
    }

    .usa-navbar {
      align-items: center;
      height: fit-content;
    }

    .usa-logo {
      margin: 0;
      .usa-logo__text {
        a {
          white-space: nowrap;
          font-size: 22px !important;
          line-height: auto !important;
          margin: 0.5em 0 !important;
          height: fit-content !important;
        }
      }
    }

    ul {
      margin-top: 0 !important;
      margin-bottom: 0 !important;
    }
    .usa-nav__primary > .usa-nav__primary-item > a,
    .usa-nav__primary button {
      color: white;
    }

    .usa-header--basic .usa-nav__link:hover::after,
    .usa-header--basic .usa-nav__primary-item > .usa-current::after {
      background-color: var(--vivid);
      width: 100%;
      right: 0;
      left: 0;
    }
  }

  .home-back-link { font-size: 1em; }
}

// mobile

@media (max-width: $mobile-width) {
  .top-nav {
    position: sticky;
    top: 0; 
    z-index: 1000;

    .usa-nav {
      width: 100%;
      background-color: var(--primary-darker);
      color: white;
      bottom: auto;
    }

    .mobile-icon-header {
      display: flex;
      color: white;
      align-items: center;
      justify-content: space-between;

      h4 {
        color: white;
      }
    }

    .usa-header--basic .usa-nav-container {
      padding: 0px 0px 0px 15px;
    }

    .usa-navbar {
      border-bottom: none;
    }

    .usa-nav__primary a:not(.usa-button):not(.usa-current),
    .usa-nav__primary button {
      color: white;
    }
    .usa-nav__primary-item {
      border-top: 1px solid var(--primary);

      &:last-child {
        border-bottom: 1px solid var(--primary);
      }
    }
    .usa-nav__submenu-item {
      border: none;
    }

    .usa-nav__primary .usa-current::after {
      display: none;
    }

    .usa-nav__primary button,
    .usa-nav__primary a:not(.usa-button) {
      font-weight: 700;
      padding: 0.5em 1em;

      span {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding-top: 0;
        padding-bottom: 0;
        height: fit-content;

        svg {
          margin: 0 !important;
        }
      }
    }

    .usa-nav__primary button:hover,
    .usa-nav__primary a:not(.usa-button):hover {
      background-color: transparent !important;
    }

    .usa-current {
      color: var(--vivid) !important;
    }
  }

  .home-back-link { font-size: .8em; }

}

// global

.home-back-link {
  color: $primary-light;
  line-height: 1em;
}

.top-nav {
  background-color: var(--primary-darker);;
  width: 100%;

  .usa-logo {
    margin: 0;
    .usa-logo__text {
      a {
        color: white;
      }
    }
  }


}

.usa-header--basic .usa-nav {
  padding-bottom: 0;
}
