@use '../../../variables' as *;

.banner {
    background-repeat: no-repeat;
    background-size: cover;
    padding: 4em 0;
    margin-bottom: 3em;
}

.level1 {
    background-color: $primary-vivid;
    h1, p {
        color: white;
    }
}

.level2 {
    background-color: $blue-vivid;
    background-image: url('../../../assets/images/level-2-pattern.png');

}