@use '../../../variables' as *;

.banner {
   
    padding: 4em 0;
}

.level1 {
    background-color: $primary-vivid;
    h1, p {
        color: white;
    }
}

.level2 {
    background-color: $blue-vivid;
}