@use "../../variables" as *;

.card {
  background-color: white;
  padding: 0 1.2em 1.2em;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 100%; 
  box-sizing: border-box;
  p {
    flex-grow: 1;
  }

  .content {
    padding-bottom: 0.5em;
  }
}

.customCAPDGgplot2Theme {
  // border-top: 2.5px solid $primary;
}

.dataVisualizationStyleGuide {
  // border-top: 2.5px solid $primary;
}

.api {
  // border-top: 2.5px solid $primary;
}
