@use './../../../variables' as *;

.info-block {
    border-top: 1.5px solid $blue-vivid;

    h3 {
        margin: .5em 0px 0px;
    }

    p {
        margin: 1em 0;
    }

    a {
        display: flex;
        align-items: center;
    }
}