// @forward "uswds-theme.scss";
// @forward "./path/to/source/uswds";
@use "./variables" as *;

@font-face {
  font-family: "Source Sans Pro";
  src: url('/assets/fonts/source-sans-pro/sourcesanspro-regular-webfont.woff2') format('woff2');
}

:root.root {
  @include theme(datavis);
}

:root.ggplot {
  @include theme(datavis);
}

:root.highcharts {
  @include theme(datavis);
}

:root.datavis {
  @include theme(datavis);
}

:root.api {
  @include theme(datavis);
}

:root {
  font-family: $font-family;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

a{
  font-weight: 700;
  color: var(--primary);
  text-decoration: inherit;
}
a:hover {
  color: var(--primary);
  text-decoration: underline;
}

.usa-breadcrumb__list-item {
  font-size: .9em;
}

.usa-breadcrumb__link {
  font-weight: 700;
  color: var(--primary) !important;
  text-decoration: inherit;
}
.usa-breadcrumb__link:hover {
  color: var(--primary) !important;
  text-decoration: underline;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

body, :root, html {
  min-height: 100vh;
}


.grey-container {
  background-color: $base-lightest;
  min-height: calc(100vh - 24px);
}

.code-container {
  max-width: 100%;
  overflow-x: auto;
}

.usa-in-page-nav {
  top: 3rem !important;
}

.code-container pre {
  max-width: 100%;
  overflow-x: auto;
  white-space: pre-wrap;
  word-break: break-word;
}

.container, .container-with-sidenav {
  margin: 0 auto;
  padding: 3em 30px 6em;
}

.secondary-nav {
  background-color: $base-lighter;
}

.banner-container, .banner-container-with-sidenav {
  margin: 0 auto;
  padding: 0px 30px;

  ul {
    margin: 0 !important;
  }
}

.usa-breadcrumb__list-item:not(:last-child)::after {
  mask-image: url(/assets/images/uswds-img/usa-icons/navigate_next.svg), linear-gradient(transparent, transparent) !important;
}

.svg-container {
  display: inline-block; 
  max-width: 100%; 
  height: auto; 
  overflow: hidden; 
}

.svg-container svg {
  max-width: 100%; 
  height: auto; 
}

.banner-container {
  p {
    font-size: 1.2em !important;
  }
}

.container,
.banner-container {
  max-width: $max-width;
}

.container-with-sidenav, .banner-container-with-sidenav {
  max-width: 1200px;
}

.usa-in-page-nav-container main {
  max-width: 56rem !important;
}

h1,
h2,
h3,
h4,
p, code {
  color: $ink;
  margin: 0;
}

ul {
  margin: 1em 0 !important;
}

h1 {
  font-size: 64px !important;
  line-height: 1.1 !important;
  margin: 0 0 0.5em !important;
}

h2 {
  font-size: 40px !important;
  line-height: auto !important;
  margin: 0.5em 0 !important;
}

h3 {
  font-size: 32px !important;
  line-height: auto !important;
  margin: 0.5em 0 !important;
}

h4 {
  font-size: 20px;
  margin: 0.5em 0 !important;
}

p {
  font-size: 16px !important;
  margin: 0.5em 0 !important;
}

code {
  font-family: Consolas, Monaco, 'Courier New', monospace !important;
  font-size: 85% !important;
  /* changed to "none" from "lowercase" for highcharts section */
  text-transform: none;
  background-color: $base-lightest;
    border-radius: 3px;
    color: #333;
    white-space: pre-wrap;
    color: var(--primary);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: $font-family;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--primary-dark);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.blue-button {
  background-color: var(--primary)!important;
  &:hover {
   background-color:  var(--primary-dark)!important;
  }
}

img,
svg {
  margin: 1em 0;
}

.section-image {
  border-radius: 5px;
  border: 2px solid $base;
}

svg {
  text, tspan{
    font-family: $font-family !important;
  }
}

// custom components //

.grid {
  display: grid;
  gap: 20px;
}

.grid-col--two {
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  @media (max-width: $mobile-width) {
    grid-template-columns: repeat(1, 1fr);
  }

}

.grid-col--one {
  grid-template-columns: repeat(1, 1fr);
}

.row-gap-3{
row-gap: 3em;
}

.intro-section {
  margin-bottom: 5em;
}

.bottom-border-section {
  border-bottom: 1.5px solid var(--primary);
  padding-bottom: 4em;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 1.5rem;
  margin-top: 1rem;
  @media (max-width: $mobile-width) {

      grid-template-columns: 1fr;

  }
}

.usa-menu-btn {
  background-color: var(--primary) !important;
}








@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: $primary-dark;
  }
  button {
    background-color: #f9f9f9;
  }
}
