// @forward "uswds-theme.scss";
// @forward "./path/to/source/uswds";
@use './variables' as *;




:root {
  font-family: $font-family;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 700;
  color: $primary-dark;
  text-decoration: inherit;
}
a:hover {
  color: $primary-dark;
  text-decoration: underline;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1, h2, h3, h4, p {
  color: $ink;
}

h1 {
  font-size: 96px !important;
  line-height: 1.1 !important; 
  margin: 0 !important;
}

h2 {
  font-size: 40px !important;
  line-height: auto !important;
}

h3 {
  font-size: 32px !important;
  line-height: auto !important;
}

p {
  font-size: 16px !important;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: $font-family;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: $primary-dark;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

// custom components //

.grid {
  display: grid;
  gap: 20px;
}

.grid-col--two {

  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); 

}

.grid-col--one {
  grid-template-columns: repeat(1, 1fr); 
}

.intro-section{
  margin-bottom: 3em;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: $primary-dark;
  }
  button {
    background-color: #f9f9f9;
  }
}
