$blue-vivid: #2491FF;
$ink: #1b1b1b;

$primary-lighter: #d9e8f6;
$primary-light: #73b3e7;
$primary: #005ea2;
$primary-vivid: #0050d8;
$primary-dark: #1a4480;
$primary-darker: #162e51;
$base-lightest: #f0f0f0;
$base-lighter: #dfe1e2;
$base-light: #a9aeb1;
$base: #71767a;
$base-dark: #565c65;
$base-darker: #3d4551;
$base-darkest: #1b1b1b;
$ink: #1b1b1b;


$max-width: 1200px;

// Font family
$font-family: 'Source Sans Pro', sans-serif;

.container, .banner-container {
    max-width: $max-width;
    margin: 0 auto; 
}

.container {
    padding: 30px 0; 
}