@use "sass:color";

// Color variables
$blue-vivid: #2491ff;
$ink: #1b1b1b;

$primary-lighter: #d9e8f6;
$primary-light: #73b3e7;
$primary: #005ea2;
$primary-vivid: #0050d8;
$primary-dark: #1a4480;
$primary-darker: #162e51;
$blue-warm-vivid-50v: #2672de;
$blue-warm-vivid-70v: #1a4480;
$green-cool-vivid-40v: #00a91c;
$green-cool-vivid-50v: #008817;
$green-cool-vivid-70v: #154c21;
$green-cool-vivid-80v: #19311e;
$secondary-lighter: #f3e1e4;
$secondary-light: #f2938c;
$secondary: #d83933;
$secondary-vivid: #e41d3d;
$red-40: #E9695F;
$red-50: #D83933;
$red-70: #6F3331;
$red-80: #3E2927;


$base-lightest: #f0f0f0;
$base-lighter: #dfe1e2;
$base-light: #a9aeb1;
$base: #71767a;
$base-dark: #565c65;
$base-darker: #3d4551;
$base-darkest: #1b1b1b;

$ink: #1b1b1b;

$max-width: 1020px;

// Font family
$font-family: "Source Sans Pro", sans-serif;

$mobile-width: 63.99em;

// Theme maps
$themes: (
  ggplot: (
    primary: $green-cool-vivid-70v,
    primary-vivid: $green-cool-vivid-70v,
    primary-dark: $green-cool-vivid-70v,
    primary-darker: $green-cool-vivid-80v,
    vivid: $green-cool-vivid-40v,
    vivid-50v: $green-cool-vivid-50v,
    vivid-70v: $green-cool-vivid-70v
  ),
  datavis: (
    primary: $primary,
    primary-vivid: $primary-vivid,
    vivid: $blue-vivid,
    primary-dark: $primary-dark,
    primary-darker: $primary-darker,
    vivid-50v: $blue-warm-vivid-50v,
    vivid-70v: $blue-warm-vivid-70v
  ),
  api: (
    primary: $red-70,
    primary-vivid:$red-70,
    primary-dark: $red-70,
    primary-darker: $red-80,
    vivid: $red-40,
    vivid-50v: $red-50,
    vivid-70v: $red-70,
  ),
  root: (
    primary: color.mix($primary, $base, 50%),
    primary-vivid: color.mix($primary-vivid, $base, 50%),
    vivid: color.mix($blue-vivid, $base, 50%),
    primary-dark: color.mix($primary-dark, $base, 50%),
    primary-darker: color.mix($primary-darker, $base, 50%),
    vivid-50v: color.mix($blue-warm-vivid-50v, $base, 50%),
    vivid-70v: color.mix($blue-warm-vivid-70v, $base, 50%),
  )
);

// Mixin for themes
@mixin theme($theme-name) {
  @each $key, $value in map-get($themes, $theme-name) {
    --#{$key}: #{$value};
  }
}
