@use '../../variables' as *;

.section, .accordion {
    h3 {
      margin-bottom: .5em;
    }
  
    .accordion__button {
      background-color: white !important;
      padding:  .5em 0  !important;
      background-size: 1.5em;
      background-position: center right;
    }
  
    .accordion__content{
      padding: 0 !important;
    }
    // margin-bottom: 4em;
    .image-card {
      display: flex;
      align-content: flex-start;
      justify-content: flex-start;
      padding: 2em 1em;
  
      svg {
        margin: 0;
      }
  
      @media (max-width: 720px) {
          grid-template-columns: 1fr;
          flex-direction: column;
          img{
            width: 100% !important;
            margin-right: 0 !important;
          }
      }
  
  
      .card-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
      }
  
      h4, p:not(.not-included-text) {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
      }
      img {
        height: 144px;
        width: 190px;
        margin-right: 1em;
        margin-top: 0 !important;
        margin-bottom: 0 !important;
      }
  
      a, .usa-button {
        margin-top: 1em;
          display: flex;
          align-items: center;
      }
    }
  }
  
  .section {
    .image-card {
      border-top: 1.5px solid var(--vivid);
    }
    padding-bottom: 1em;
  }
  
  .accordion {
    &__content {
      &.closed {
        display: none;
      }
      
      &.open {
        display: block;
      }
    }
    
    &__button {
      width: 100%;
      text-align: left;
      cursor: pointer;
      
      &[aria-expanded="true"] {
        /* You can add styling for when the accordion is open */
        font-weight: bold;
        /* Additional styling as needed */
      }
    }
  
    &:first-child {
      border-top: 1.5px solid var(--primary);
      .accordion__heading {
        margin: 0 !important;
      }
  
    }
  
    .accordion__button {
      background-image: url(./assets/uswds-img/usa-icons/arrow_drop_down.svg), linear-gradient(transparent, transparent) !important;
      border-bottom: 1.5px solid var(--primary);
      border: 0;
      border-radius: 0;
      box-shadow: none;
      justify-content: normal;
      text-align: left;
      padding: 0;
      color: #1b1b1b;
      background-repeat: no-repeat;
      background-position: right 1.25rem center;
      background-size: 2.2rem;
      cursor: pointer;
      display: inline-block;
      font-weight: 700;
      margin: 0;
      padding: 1rem 3.5rem 1rem 1.25rem;
      text-decoration: none;
      width: 100%;
    }
    
  
    
    .accordion__button[aria-expanded=true] {
      background-image: url(/assets/images/uswds-img/usa-icons/arrow_drop_up.svg), linear-gradient(transparent, transparent) !important;
      border-bottom: none;
    }
    
    .accordion__button[aria-expanded=false] {
      background-image: url(/assets/images/uswds-img/usa-icons/arrow_drop_down.svg), linear-gradient(transparent, transparent) !important;
      border-bottom: 1.5px solid var(--vivid);
    
    }
  }