@use "./../../../variables" as *;

.section, .accordion {
  h3 {
    margin-bottom: .5em;
  }

  .usa-accordion__button {
    background-color: white !important;
    padding:  .5em 0  !important;
    background-size: 1.5em;
    background-position: center right;
  }

  .usa-accordion__content{
    padding: 0 !important;
  }
  // margin-bottom: 4em;
  .charts-card {
    display: flex;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 1em;

    @media (max-width: 720px) {
        grid-template-columns: 1fr;
        flex-direction: column;
        img{
          width: 100% !important;
          margin-right: 0 !important;
        }
    }


    .card-content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;

    }

    img {
      height: 144px;
      width: 190px;
      margin-right: 1em;
    }

    a {
        display: flex;
        align-items: center;
    }
  }
}

.section {
  .charts-card {
    border-top: 1.5px solid var(--vivid);
  }
  padding-bottom: 1em;
}

.accordion {
  &:first-child {
    border-top: 1.5px solid var(--vivid);
    .usa-accordion__heading {
      margin: 0 !important;
    }

  }

  .usa-accordion__button {
    background-image: url(./assets/uswds-img/usa-icons/arrow_drop_down.svg), linear-gradient(transparent, transparent) !important;
    border-bottom: 1.5px solid var(--vivid);
  }
  
  
  .usa-accordion__button[aria-expanded=true] {
    background-image: url(./assets/uswds-img/usa-icons/arrow_drop_up.svg), linear-gradient(transparent, transparent) !important;
    border-bottom: none;
  }
  
  .usa-accordion__button[aria-expanded=false] {
    background-image: url(./assets/uswds-img/usa-icons/arrow_drop_down.svg), linear-gradient(transparent, transparent) !important;
    border-bottom: 1.5px solid var(--vivid);
  
  }
}


