@use '../../variables' as *;

.info-block {
    border-top: 1.5px solid var(--primary);

    h3 {
        margin: .5em 0px 0px;
    }

    p {
        margin: 1em 0;
    }

    .external-link {
        display: flex;
        align-items: center;
        color: $primary-dark;

        svg {
            margin: 0;
        }
    }
}