@use '../../variables' as *;

.banner {
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--primary);
    padding: 6em 0;

    h1 {
        font-size: 96px !important;
    }

    h1, p {
        max-width: 700px;
        color: white;
    }
}

@media (max-width: 720px) {
    .banner {
        padding: 3em 0;
        h1 {
        font-size: 36px !important;
        }
    }
}