@use '../../variables' as *;

.banner {
    background-repeat: no-repeat;
    background-size: cover;
    padding: 4em 0;

    background-color: var(--primary);
    padding: 6em 0;

    h1 {
        font-size: 96px !important;
    }

    h1, p {
        max-width: 700px;
        color: white;
    }
}

