@use '../../variables' as *;

.banner {
    background-repeat: no-repeat;
    background-size: cover;
    padding: 4em 0;

    h1 {
        font-size: 96px !important;
    }

    h1, p {
        max-width: 700px;
    }
}

.level1 {
    background-color: var(--primary-vivid);
    padding: 6em 0;

    h1, p {
        color: white;
    }
}

.level2 {
    background-color: var(--vivid); 
}
