@use '../../variables' as *;


.do-dont-card {
    width: 100%;
    box-sizing: border-box;
    position: relative;
  }

.card-icon {
  position: absolute;
  top: 8px;
  left: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.do-dont-card img {
  border-radius: 5px;
  border: 2px solid $base;

  @media (max-width: $mobile-width) {
    margin-bottom: 0;
  }
}

.card-do img {
  border: 2px solid $primary-vivid;
}

.card-do-not img {
  border: 2px solid $secondary-vivid;
}

.card-image {
  width: 100%;
  height: auto;
  margin-bottom: 0.5rem;
}
